<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='recite-words/recite.css') }}" type="text/css">
</head>

<body>
    <form action="/recite-words" method="POST" class="form">
        <p class="chinese">{{ words[choice].chinese }}</p>
        <input class="input data is-primary is-medium is-rounded" name="data" autocomplete="off" required>
        <br>
        <input class="button is-link is-outlined is-rounded is-medium" type="submit">
    </form>
</body>

</html>